body{
    /* background-color: grey; */
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    /* width: 951px; */
}
/* html, body {
    height: 100%;
  } */
.panel{
    border: 1px solid black;
    /* width: 300px; */
    /* height: 100px; */
    height: 100%;
    overflow: hidden;
    /* margin-right: 10px; */
}
.mapLayer{
    border: 1px solid black;
    width: 300px !important;
    height: 100px !important;

}
.line > .cell{
    margin: 10px;
}
.noBorder{
    border: none !important;
}
.line{
    display: flex;
    /* flex-wrap: wrap; */
    /* height: 300px;
    width: 100%; */
    /* min-width: 100%; */
    margin: 20px;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
  }

#story{
    margin: 0px;
    width: 1173px;
    height: 300px;
}
.panel img {
    /* height: 100%; */
    max-width: 100%;
    max-height: 100%; 
}
.panel{
    /* display: flex;
    flex-wrap: wrap; */
    /* width: 100%;
    width: 1850px; */
    /* transform: scale(0.5); */
}

.object img{
    height: 100%;
    width: 100%;
}
.app{
    /* display: flex;
    position: relative; */
    /* height: 100%; */
}
#go{
    background-color: grey;
    position: absolute;
    z-index: 100;
    padding: 10px;
    /* padding-bottom: 5px; */
    /* padding-top: 5px; */
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 21px;
    outline: none;
    cursor: pointer;
    /* top: 5px; */
    margin: 10px;
}

.add{
    cursor: pointer;
    font-size: 80px;
    text-align: center;
    width: 100%;
}
.center{
    width: 100%;
    text-align: center;
}
.numberCircle{
    font-size: 40px !important;
    /* border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666; */
    color: #666;
    /* text-align: center;

    font: 32px Arial, sans-serif; */
}
.addCell{
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    width: 100%;
    background-color: #eaeaea91;
}


/* SIDE BAR */
.sidebar{
    color: white;
    height: 100%;
    width: 270px;
    /* min-width: 270px; */
    /* text-align: left;
    transition: width, left, right, 0.3s;
    position: relative;
    z-index: 1009; */
    background-color: grey;
    padding: 10px;
    
}
#root{
    height: 100%;
}
.blockNav{
    border: 1px solid black;
    /* width: 80%; */
    padding:10px;
    cursor: grab;
    /* height: 60px; */
}
#container{
    border: 1px solid #999;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    /* left: 10px; */
    /* padding-bottom: 5px; */
    overflow-y: scroll;

}

.slidecontainer {
    width: 100%;
    top: 5px;
    position: absolute;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7; */
    /* -webkit-transition: .2s; */
    /* transition: opacity .2s; */
  }
  
  /* .slider:hover {
    opacity: 1;
  } */
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }